@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  /* --dark-bg: rgba(210, 187, 187, 0.95); */
  /* --dark-bg: ##FFF8E7; */
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-style: italic; */
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 7;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: 170px;
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 130px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    /* position:absolute; */
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  #ant{

    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   /* text-fill-color: transparent; */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 30px;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }
 #htt {
  position: relative;
  -webkit-box-reflect: below -15px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 20px; 
  color: #f9f4f4;
  left: 4%;
}

@keyframes htt {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

#img{
  height: 100px;
  width: 100px;
  align-items:start;
  position:sticky;
  bottom:0;
  right: 0;
  transform: rotate3d(2, -1, -1, -0.2turn);
  border: 0px;
  margin: 0px;
  float: left;
}
#img:hover{
  transform: rotate3d(1, 1, 1, 0deg);
}


#imgStack{
  height: 60px;
  width: 60px;
  align-items:start;
  position:sticky;
  bottom:0;
  right: 0;
  transform: rotate3d(2, -1, -1, -0.2turn);
  border: 0px;
  margin: 0px;
  float: left;
}
#imgStack:hover{
  transform: rotate3d(1, 1, 1, 0deg);
}

#div{
  width: 70%;
}
#divStack{
  width: 70%;
  left: 5%;
  position: relative;

}

#divStackLeft{
  width: 70%;
  right: 9%;
  position: relative;

}



#ant:hover{
  position: relative;
  display: inline-block;
  /* font-size: 40px; */
  color: #fff;
  text-transform: uppercase;
  animation: flip 1s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}


section:hover{
  transform: translate(10em,2em);
  -webkit-transform: translate(3em,0);
  -moz-transform: translate(3em,0);
  -o-transform: translate(10em,0);
  -ms-transform: translate(10em,0);
}

#text{
  position: relative;
  /* -webkit-box-reflect: below -15px linear-gradient(transparent, rgba(0,0,0,.2)); */
  font-size: 15px; 
  color: #fcfcfc;
  left: 7%;

}
#textLeft{
  position: relative;
  /* -webkit-box-reflect: below -15px linear-gradient(transparent, rgba(0,0,0,.2)); */
  font-size: 15px; 
  color: #fcfcfc;
  right: 7%;

}

#leftHtt {
  position: relative;
  -webkit-box-reflect: below -15px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 20px; 
  color: #f9f4f4;
  right: 10%;
  margin: auto;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
  margin: 0;
  font: 100% / 1.5 Raleway, sans-serif;
  color: hsl(230, 100%, 95%);
  display: flex;
}

#rightHtt {
  position: relative;
  -webkit-box-reflect: below -15px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 20px; 
  color: #f9f4f4;
  left: 4%;
  margin: auto;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
  margin: 0;
  font: 100% / 1.5 Raleway, sans-serif;
  color: hsl(230, 100%, 95%);
  display: flex;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}



body, html, #app {
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  overflow: hidden;
  touch-action: pan-up;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

#app h1 {
  --fontSize: 60px;
  --lineHeight: 80px;
  width: auto;
  height: calc(2 * var(--lineHeight));
  line-height: var(--lineHeight);
  margin: calc(50vh - var(--lineHeight)) auto 0;
  font-size: var(--fontSize);
  text-transform: uppercase;
}

#app a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

#app canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
}
